<H2>VCDKIT Dashboard</H2>
<table cellpadding=3 width=200>
<tr><th>Job</th><th>Runs</th></tr>
<% VCloudJob::Schedule.all.each do |s| %>
<tr>
  <td width=200><%= s.job %></td>
  <td width=200 align=center>
    <a href=<%= url("/job/#{s.job}") %>><%=
    VCloudJob::JobData.count(:job => s.job) %></a>
  </td>
</tr>
<% end %>
</table>
